@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<button type="button" class="btn btn-primary btnModal" data-bs-toggle="modal" data-bs-target="#kt_modal_1">
    Modal tabs
</button>
<div class="container-fluid">
    <div class="content " id="kt_content">
        <!--end::Toolbar-->
        <div class="post" id="kt_post">
            <div id="kt_content_container" class="container-xxl">
                <!--begin::Card-->
                <div class="card card-custom">
                    <div class="card-header  border-0 pt-6 pb-0">
                        <div class="card-title">
                            <h3 class="card-label">
                                Road Inventory Basic Information
                                <span class="d-block text-muted pt-2 font-size-sm">Sorting & pagination remote datasource</span>
                            </h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive-xxl">
                            <table class="display  nowrap" id="roadInventoryDataTable">
                                <thead id="roadInventory">
                                    <tr class="table-info">
                                        <th scope="col">Road Code</th>
                                        <th scope="col">Road Sl No</th>
                                        <th scope="col">Road Id</th>
                                        <th scope="col">Road Type</th>
                                        <th scope="col">Road Name</th>
                                        <th scope="col">Road Length</th>
                                        <th scope="col">Crestwidth</th>
                                        <th scope="col">EMBKHEIGHT</th>
                                        @*<th scope="col">Is This Road Important</th>*@
                                        <th scope="col">IRI</th>
                                        <th scope="col">Deflection</th>
                                        <th scope="col">AADT</th>
                                        <th scope="col">CVD</th>
                                        <th scope="col">Segment Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                @*<tbody id="roadInventory2">
                                    </tbody>*@
                            </table>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>

    <div class="card card-custom`">
        <div class="card-body">
            <div class="modal fade" tabindex="-1" id="kt_modal_1">
                <div class="modal-dialog modal-lg " style="min-width:fit-content;">
                    <div class="modal-content">
                        <div class="modal-header bg-active-info" >
                            <h3 class="modal-title">
                                <i class="fa fa-road" aria-hidden="true"></i>  Road Attribute Informations</h3>
                            <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                                <span class="svg-icon svg-icon-1"></span>
                            </div>

                        </div>
                        <div class="modal-body ">
                            @Html.Partial("~/Views/Shared/RoadBasicInformation/Modals/RoadAttributeModal/roadAttributeInfos.cshtml")

                            @Html.Partial("~/Views/Shared/RoadBasicInformation/Modals/RoadAttributeModal/modalTabs.cshtml")
                            <br>
                            <hr>

                            <button class="btn btn-success" id="addRow" style="margin-bottom: 5px;">Add New Record</button>

                            @Html.Partial("~/Views/Shared/RoadBasicInformation/Modals/RoadAttributeModal/RoadGeneralInfoModal/generalInfoModal.cshtml")

                            @*@Html.Partial("~/Views/Shared/RoadBasicInformation/Modals/RoadAttributeModal/SegmentWiseConditionModal/segmentWiseConditionModal.cshtml")*@

                            @Html.Partial("~/Views/Shared/RoadBasicInformation/Modals/RoadAttributeModal/ConstructionModal/constructionModal.cshtml")

                            @Html.Partial("~/Views/Shared/RoadBasicInformation/Modals/RoadAttributeModal/MaintainanceModal/maintainanceModal.cshtml")

                            @Html.Partial("~/Views/Shared/RoadBasicInformation/Modals/RoadAttributeModal/UnionWiseBreakupModal/unionWiseBreakupModal.cshtml")

                            @Html.Partial("~/Views/Shared/RoadBasicInformation/Modals/RoadAttributeModal/ConstituencyWiseBreakupModal/constituencyWiseBreakupModal.cshtml")

                            @Html.Partial("~/Views/Shared/RoadBasicInformation/Modals/RoadAttributeModal/GCRMConditionModal/gcRmConditionModal.cshtml")

                            @Html.Partial("~/Views/Shared/RoadBasicInformation/Modals/RoadAttributeModal/SocioConnectivityModal/socioConnectivityModal.cshtml")

                            @Html.Partial("~/Views/Shared/RoadBasicInformation/Modals/RoadAttributeModal/TreeModal/treeModal.cshtml")
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            //modal_tab_Funtion_js_begin
            function modalProcess() {
                //alert("in Process");
                //$(document).ready(function() {
                $(".tabs").click(function () {
                    $(".tabs").removeClass("active");
                    $(".tabs button").addClass("text-muted");
                    $(this).children("button").removeClass("text-muted");
                    $(this).addClass("active");
                    current_fs = $(".active");
                    next_fs = $(this).attr('id');
                    next_fs = "#" + next_fs + "1";
                    //$("fieldset").removeClass("show");
                    //$(next_fs).addClass("show");
                    $("fieldset").removeClass("d-block")
                    $("fieldset").addClass("d-none")
                    $(next_fs).removeClass("d-none")
                    $(next_fs).addClass("d-block")
                    //$("fieldset").hide();
                    //$(next_fs).show();

                });
                //});
            };

            $(".btnModal").click(function () {
                $("#kt_modal_1").modal("show");
                modalProcess();

            });

            //modal_tab_funtion_js_end

            var apiBaseUrl = "http://dev.betsbd.com:3015/rsdmsbe/";
            var pageNumber = 1;
            var pageSize = 10;
            //$.ajax({
            //    url: apiBaseUrl + 'api/RoadInventory/Paginated?pageNumber=' + pageNumber + '&' + pageSize,
            //    method: 'GET',
            //    success: function (data) {
            //        console.log(data);

            //    }


            //});
            $("#roadInventoryDataTable").DataTable({
                
                language: {
                    paginate: {
                        previous: 'Previous',
                        next: 'Next'
                    },
                    aria: {
                        paginate: {
                            previous: 'Previous',
                            next: 'Next'
                        }
                    }
                },
                lengthMenu: [
                    [20, 25, 50, -1], 
                    [10,25, 50, 100, 200],
                ],
                "ajax":
                {
                    "url": apiBaseUrl + 'api/RoadInventory/Paginated?pageNumber=' + pageNumber +'&pageSize='+ pageSize,   
                    "type": "GET",
                    dataSrc: '',
                },
                
                columns: [
                    { data: 'ROADCODE' },
                    { data: 'ROADSLNO' },
                    { data: 'ROADID' },
                    { data: 'ROADTYPEINFO' },
                    { data: 'ROADNAME' },
                    { data: 'ROADLENGTH' },
                    { data: 'CRESTWIDTH' },
                    { data: 'EMBKHEIGHT' },
                    { data: 'IRI' },
                    { data: 'DEFLECTION' },
                    { data: 'AADT_MT' },
                    { data: 'CVD' },
                    { data: 'SEGMENTSTATUS' },
                    { data: null }
                ],

                columnDefs: [{
                    targets: -1, // Target the last column
                    data: null, // Use the whole row object as the data source
                    render: function (data, type, row) {
                        // Create the button element with a class
                        return '<button class="btn btn-success opacity-75 btnModal " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="true">' +
                            '<i class="fa fa-ellipsis-v"></i>' +
                            '</button>' +
                            '<ul class="dropdown dropdown-menu "aria-labelledby="dropdownMenuButton1" style="background-color: #9ad6b7;">' +
                            '<li><button class="dropdown-item " id="roadAttribute" data-bs-toggle="modal" data-bs-target="#kt_modal_1" >Road Attributes</a></li>' +
                            '<li><a class="dropdown-item" href="#">Traffic Survey</a></li>' +
                            '<li><a class="dropdown-item" href="#">Condition Survey</a></li>' +
                            '<li><a class="dropdown-item" href="#">Pavement Inventory</a></li>' +
                            '<li><a class="dropdown-item" href="#">Structure Inventory</a></li>' +
                            '<li><a class="dropdown-item" href="#">Photo Gallery</a></li>' +
                            '</ul>';
                        



                    }
                }],
                processing: true,
                paging: true,
                ordering: false,
                info: false,
                scrollY: 700,
                scrollX: true,
                responsive: true,
                //pagingType: 'full_numbers',


            });
           


            // Function to handle cell click event
            function handleCellClick() {
                // Get the row containing the clicked button
                var row = $(this).closest('tr');

                // Get the value of the third column in the row
                var roadID = row.find('td:eq(2)').text();




                // Do something with the cell value
                //console.log('Road Id:', roadID);

                $.ajax({
                    url: apiBaseUrl + 'api/RoadGeneralInfo/' + roadID,
                    method: 'GET',
                    success: function (data) {

                        $('#roadGenInfoRow').empty();
                        console.log(data);
                        for (var i = 0; i <= data.length; i++) {
                            var x = data[i].TOCHAIN;
                            var y = data[i].FROMCHAIN;
                            var FROMCHAIN = "";
                            var result = x - y;
                            $("#roadGenInfoRow").append(
                                '<tr class=" text-center table-success">' +
                                '<td>' + data[i].RDSECSLNO + '</td>' +
                                '<td>' + data[i].FROMCHAIN + '</td>' +
                                '<td>' + data[i].TOCHAIN + '</td>' +

                                '<td>' + result + '</td>' +

                                '<td>' +
                                '<select>' +
                                '<option>' + data[i].SURFTYPE + '</option>' +
                                '</select >' +
                                '</td >' +

                                '<td>' + data[i].AVGCARGW + '</td>' +

                                '<td>' + data[i].AVGSHOULW_L + '</td>' +
                                '<td>' + data[i].AVGSHOULW_R + '</td>' +
                                '<td>' +
                                '<select>' +
                                '<option>' + data[i].SHOULCON + '</option>' +
                                '</select >' +
                                '</td >' +
                                '<td>' +
                                '<select>' +
                                '<option>' + data[i].SLOPECON + '</option>' +
                                '</select >' +
                                '</td >' +
                                '<td>' +
                                '<button class="btn btn-danger opacity-75  " type="button" id="Update">' +
                                '<i class="fas fa-edit"></i>' +
                                '<i class="fa fa-trash" aria-hidden="true"></i>' +
                                '</button>' +
                                '</td>' +

                                '</tr>'
                            );

                        }
                    },
                    error: function (xhr, status, error) {
                        // Handle the error
                        console.log(error);
                    }
                });

            }

            // Event delegation for table cells
            $('#roadInventoryDataTable').on('click', '#roadAttribute', handleCellClick);
        });

    </script>
}



